.DS_Store
node_modules
/dist
public/bundle.js

/cypress/e2e/screenshots/
/cypress/e2e/videos/

# env
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
