/* position */
.fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-uppercase { text-transform: uppercase; }
.text-italic { font-style: italic;}

.font-normal { font-weight: 400; }
.font-light { font-weight: 100; }
.font-semibold { font-weight: 500; }
.font-bold { font-weight: 700; }

/* responsive */
.xl\:mt-0 {
  @media (min-width: 1200px) {
    margin-top: 0 !important;
  }
}
.xl\:pl-2 {
  @media (min-width: 1200px) {
    padding-left: var(--spacing-xs) !important;
  }
}

//remove button default styles for elements that act like buttons, but don't look like them
.non-visual-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* table */
.bold-col-1 tbody {
  td:nth-of-type(1) {
    font-weight: 600;
    min-width: 120px;
  }
}

.underline {
  text-decoration: underline !important;
  &:hover { text-decoration: underline !important; }
}
.no-underline {
  text-decoration: none !important;
  &:hover {text-decoration: none !important; }
}

/* badges */
.badge {
  border-radius: .25rem;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: .25rem .4rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.list-badge.k-badge {
  --KBadgePaddingY: 2px;
  --KBadgeBorderRadius: 12px;
  --KBadgePaddingX: var(--spacing-sm);
  cursor: pointer;
  a &:hover {
    text-decoration: none;
  }

  &.badge-white {
    background-color: var(--white);
    border: 1px solid var(--steel-200);
    color: var(--blue-500);
  }
  &.badge-grey {
    background-color: var(--black-10);
    color: var(--black-70);
    &:hover {
      background-color: var(--black-25);
    }
  }
  &.badge-blue {
    background-color: var(--blue-200);
    color: var(--blue-500);
    &:hover {
      background-color: var(--blue-300);
    }
  }
}

.top-border {
  border-top: 1px solid var(--black-10);
  padding-top: 1.5rem;
}

.bottom-border {
  border-bottom: 1px solid var(--black-10);
  padding-bottom: 1.5rem;
}

.text-muted { color: var(--black-45) !important; }
.text-danger { color: var(--red-500) !important; }

.h-100 { height: 100%; }
.h-screen { min-height: 100vh;}

.overflow-hidden {
  overflow: hidden;
}

.max-char-width {
  max-width: 20ch;
}

.text-nowrap {
  white-space: nowrap;
}

/* Tabs - Bootstrap styling 😢️😩️ */
.nav {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  &.nav-tabs {
    border-bottom: 1px solid var(--grey-300);
    .nav-item {
      cursor: pointer;
      margin-bottom: -1px;
    }
    .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: var(--black-45);
      display: block;
      padding: var(--spacing-xs) var(--spacing-md);
      &.active {
        background-color: #fff;
        border-color: var(--grey-300) var(--grey-300) #fff;
        color: var(--blue-700);
        &:hover,
        &:focus {
          border-color: var(--grey-300) var(--grey-300) #fff;
        }
      }
      &:hover,
      &:focus {
        border-color: var(--grey-200) var(--grey-200) var(--grey-300);
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
.sidebar-content-margin {
    margin-left: var(--sidebarOpenWidth);
    &.has-subnav {
      margin-left: calc(var(--sidebarCollapsedWidth) + var(--subnavWidth));
    }
  }
}
/* Show pages */
.widget-cards {
  .k-card {
    margin-bottom: 0;
  }
  .k-table {
    --spacing-md: 12px;
    .float-right { margin: 0 !important; }
    .btn-link { padding: 0; }
  }
}

/* Product's publish status */
.publish-status {
  --KBadgePaddingX: var(--spacing-xs);
  --KBadgePaddingY: 1px;
  --KBadgeFontSize: var(--type-xs);
  text-transform: uppercase;
  vertical-align: middle;
}

// make uuid-icon-wrapper inline-block so it stays on the same line
.uuid-icon-wrapper {
  display: flex;
  margin-left: 4px;
}